body {
  display: inline-block;
  font-family: Helvetica;
  font-size:small;
  /*padding:10px;*/
  line-height:1.4em;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

a {
  color: #000047;
  text-decoration: none;
}

a:hover {
  color: #E65C00;
}

.spacers {
  height:800px;
  width: 100%;
}

.columnL {
  width: 40%;
  padding-left: 2%;
  display: inline-block;
  float: left;
  font-size: 18px;
  font-family: Helvetica;
  color: #000047;
  line-height: 1.5;
  margin-top: 3%;
}

.columnL p {
  font-size: 10px;
}

.columnR {
  width: 40%;
  padding-left: 2%;
  display: inline-block;
  float: right;
  font-size: 18px;
  font-family: Helvetica;
  color: #000047;
  line-height: 1.5;
  margin-top: 3%;
}

.columnR p {
  font-size: 10px;
}

.tourneyone {
  display:flex;
  flex-direction:row-reverse;
  float: right;
  margin-right: 10px;
  width: 45%;
}
.round{
  display:flex;
  flex-direction:column;
  justify-content:center;
  width:130px;
  list-style:none;
  padding:0;
}
  .round .spacer{ flex-grow:1; }
  .round .spacer:first-child,
  .round .spacer:last-child{ flex-grow:.5; }

  .round .game-spacer{
    flex-grow:1;
  }

/*
 *  General Styles
*/

li.game{
  text-align: right;
  padding-right:10px;
  font-size: 9px;
  color: #000047;
}

li.game:hover{
  font-weight: bold;
}
  /*li.game.winner{
    font-weight:bold;
  }*/
  li.game span{
    float:left;
    margin-left:5px;
  }

  li.game-top{ border-bottom:1px solid #000047;}

  li.game-spacer{ 
    border-left:1px solid #000047;
    min-height:40px;
  }

  li.game-bottom{ 
    border-top:1px solid #000047;
  }

  .tourneytwo {
  display:flex;
  flex-direction:row;
  float:left;
  margin-left: 10px;
  width: 45%;
}
.roundtwo{
  display:flex;
  flex-direction:column;
  justify-content:center;
  width:130px;
  list-style:none;
  padding:0;
}
  .roundtwo .spacer{ flex-grow:1; }
  .roundtwo .spacer:first-child,
  .roundtwo .spacer:last-child{ flex-grow:.5; }

  .roundtwo .gametwo-spacer{
    flex-grow:1;
  }

li.gametwo{
  padding-left:10px;
  font-size: 9px;
  color: #000047;
}

li.gametwo:hover {
  font-weight: bold;
}

  li.gametwo.winner{
    font-weight:bold;
  }
  li.gametwo span{
    float:right;
    margin-right:5px;
  }

  li.gametwo-top{ border-bottom:1px solid #000047; }

  li.gametwo-spacer{ 
    border-right:1px solid #000047;
    min-height:40px;
  }

  li.gametwo-bottom{ 
    border-top:1px solid #000047;
  }

  .future span {
    color: #fff;
  }

  .future a {
    color: #fff;
  }
